Source: python-etcd
Section: python
Priority: optional
Maintainer: Giuseppe Lavagetto <glavagetto@wikimedia.org>
Build-Depends: debhelper (>= 9), dh-python, python-all,
  python-setuptools, python3-all, python3-setuptools,
  python-unittest2, python3-all-dbg, python-all-dbg 
Standards-Version: 4.1.2
Homepage: https://github.com/jplana/python-etcd
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-etcd
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Breaks: ${python:Breaks}
Suggests: etcd
Provides: ${python:Provides}
Description: client for etcd distributed, consistent key/value store - python 2.x
 python-etcd provides a client for etcd: a distributed, consistent key value
 store for shared configuration and service discovery.
 .
 This package contains the module built for Python version 2.x.

Package: python3-etcd
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Breaks: ${python3:Breaks}
Suggests: etcd
Provides: ${python3:Provides}
Description: client for etcd distributed, consistent key/value store - python 3.x
 python-etcd provides a client for etcd: a distributed, consistent key value
 store for shared configuration and service discovery.
 .
 This package contains the module built for Python version 3.x.
